In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('Registros_de_precipitaci_n__caudal_y_nivel_de_estaciones_de_monitoreo_autom_tico_de_la_CVC.csv', encoding='UTF-8',decimal=',',thousands='.')
df

,FECHA,CODIGO ESTACION,NOMBRE ESTACION,COORDENADA X,COORDENADA Y,PARAMETRO(TIPO),VALOR,UNIDAD DE MEDIDA
0,02/09/2024 12:00:00 AM,2610000102,LA BALSA,1053276866,833314936,PRECIPITACIÓN,0,mm
1,01/04/2024 12:00:00 AM,2610000402,CAUCA - LA BALSA,1053188349,833717168,NIVEL DE MIRA,159472222,m
2,01/18/2024 12:00:00 AM,2610000402,CAUCA - LA BALSA,1053188349,833717168,NIVEL DE MIRA,190645833,m
3,01/31/2024 12:00:00 AM,2610000402,CAUCA - LA BALSA,1053188349,833717168,NIVEL DE MIRA,204951389,m
4,02/08/2024 12:00:00 AM,2610000402,CAUCA - LA BALSA,1053188349,833717168,NIVEL DE MIRA,176819444,m
...,...,...,...,...,...,...,...,...
16624,05/31/2024 12:00:00 AM,5301500403,PEPITAS - CISNEROS,10351073124,909476,CAUDAL,6666667,m3/s
16625,05/31/2024 12:00:00 AM,5301500404,DAGUA - PUERTA DAGUA,10458208824,9056541137,NIVEL DE MIRA,56041667,m
16626,05/31/2024 12:00:00 AM,5301500404,DAGUA - PUERTA DAGUA,10458208824,9056541137,CAUDAL,34055,m3/s
16627,05/31/2024 12:00:00 AM,5301500407,BITACO - BITACO,1053229,890736,NIVEL DE MIRA,294375,m
16628,05/31/2024 12:00:00 AM,5301500407,BITACO - BITACO,1053229,890736,CAUDAL,716375,m3/s

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16629 entries, 0 to 16628
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FECHA             16629 non-null  object
 1   CODIGO ESTACION   16629 non-null  int64
 2   NOMBRE ESTACION   16629 non-null  object
 3   COORDENADA X      16629 non-null  int64
 4   COORDENADA Y      16629 non-null  int64
 5   PARAMETRO(TIPO)   16629 non-null  object
 6   VALOR             16629 non-null  int64
 7   UNIDAD DE MEDIDA  16629 non-null  object
dtypes: int64(4), object(4)
memory usage: 1.0+ MB

In [4]:
df.describe()

       CODIGO ESTACION  COORDENADA X  COORDENADA Y         VALOR
count     1.662900e+04  1.662900e+04  1.662900e+04  1.662900e+04
mean      2.877953e+09  1.163389e+09  4.981044e+09  3.637477e+08
std       7.983070e+08  1.636796e+09  4.296890e+09  2.635134e+09
min       2.610000e+09  1.043736e+06  7.829560e+05  0.000000e+00
25%       2.612810e+09  1.045821e+09  8.300488e+08  0.000000e+00
50%       2.620000e+09  1.062139e+09  8.527937e+09  8.000000e+00
75%       2.622400e+09  1.096358e+09  9.007685e+09  4.831944e+07
max       5.421200e+09  1.135006e+10  1.020897e+10  1.324603e+11

In [6]:
#Eliminacion de columnas Fechas, nombre estacion, codigo estacion
df2=df.drop(columns=['FECHA','NOMBRE ESTACION','CODIGO ESTACION'])
df2

       COORDENADA X  COORDENADA Y PARAMETRO(TIPO)      VALOR UNIDAD DE MEDIDA
0        1053276866     833314936   PRECIPITACIÓN          0               mm
1        1053188349     833717168   NIVEL DE MIRA  159472222                m
2        1053188349     833717168   NIVEL DE MIRA  190645833                m
3        1053188349     833717168   NIVEL DE MIRA  204951389                m
4        1053188349     833717168   NIVEL DE MIRA  176819444                m
...             ...           ...             ...        ...              ...
16624   10351073124        909476          CAUDAL    6666667             m3/s
16625   10458208824    9056541137   NIVEL DE MIRA   56041667                m
16626   10458208824    9056541137          CAUDAL      34055             m3/s
16627       1053229        890736   NIVEL DE MIRA     294375                m
16628       1053229        890736          CAUDAL     716375             m3/s

[16629 rows x 5 columns]